.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #64564D;
}

.nav-tabs {
    border-bottom: none;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: #8E8B82;
	font-size: 18px;
}

h1, h4 {
	font-family: 'Quicksand', sans-serif;
	color: #8E8B82;
}

h1 {
	font-weight: 400;
}
h4 {
	font-weight: 300;
}

h4 > b {
	font-weight: 500;
}
a:hover {
    color: inherit;
}
.nav-link {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #8E8B82;
}

.sub-t {
	font-weight: 400;
	text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: #64564D;
    border-color: #8E8B82;
}
.btn-primary:hover {
    color: #fff;
    background-color: #64564D;
    border-color: #8E8B82;
}

.toggle-handle {
    background-color: #c3c3c3;
}